* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", "Poppins";
}

body {
}

section {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  min-height: 100vh;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f9f9f9;
}

.content {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 100px;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 80%;
}

nav a {
  margin-left: 30px;
}

.carousel {
  width: 600px;
}

h2 {
  font-weight: 500;
  margin: 0 0 16px;
}

p {
  opacity: 0.7;
  font-size: 18px;
  margin: 0 0 20px;
}

button {
  border: 0;
  background: #f9f9f9;
  color: #16222a;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 60px;
  font-size: 18px;
}

section a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  margin: 0 auto;
  padding: 6px 26px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}

.swiper {
  width: 100%;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 34px !important;
  transform: scale(1.3);
}

.swiper-slide {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 0 80px;
  filter: grayscale(0.6);
}

.swiper-slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  text-align: center;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  transition: 0.25s;
  opacity: 0;
}

.swiper-slide-active div {
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("1.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("2.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("3.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("7.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("6.jpg") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
